html
	head
		title Wiitrac | About
		include link.jade
		
	body
		include sidebar.jade

		div(class="grid-container full")
				
			div(class="grid-x")
				div(class="medium-12 cell")
					video(preload="metadata" autoplay controls width="100%" loop muted)
						source(src="video/about.mp4")
			
			div(class="grid-x")
				div(class="cell medium-7")
					div(id="grad-overlay" class="grad-overlay-about")
						div(class="grid-x")
							div(class="loading medium-3 cell hide-for-small-only")
							p(class="scroll-tag medium-2 cell hide-for-small-only padding-top-1" ) Scroll
							.grid-x
								div(class="intro-para medium-10 medium-offset-2 small-margin-bottom-20 small-margin-top-20 small-10 small-offset-1" )  Wiitrac Elevator Sdn Bhd is one stop elevator company.<br><br>Our core & fundamental capabilities are sales, elevator installation, testing and commissioning, elevator maintenance, sheet metal fabrications, steel-based structural fabrications, elevator parts machining.<br><br>We have strengthened our position in the industries by providing value-added services which include but not limited to; elevator solution consultancy, site commissioning and design enhancement, hence capable of engaging all sorts of market segments ranging from residential end user, consultants, architect and developers.

			div(class="grid-x grid-margin-x grid-padding-x margin-gutters padding-gutters margin-top-25 hide-for-small-only")
				div(class="cell medium-9 medium-offset-4")
					img(src="img/about.jpg", alt="about-pic-1")

			div(class="grid-x margin-top-10")
				div(class="cell medium-5")
					img(src="img/about-2.jpg", alt="about-pic-2")
				div(class="cell medium-5 medium-offset-1 company-direction small-margin-top-20 small-margin-bottom-20 small-10 small-offset-1")  
					h3 <strong>Our Mission</strong>
					p To enhance the value of modern homes with Smart Elevation System
					<br>
					h3 <strong>Our Vision</strong>
					p The favourite brand that elevates modern homes with happy customers and partners
					<br>
					h3 <strong>Our Core Values</strong>
					p - <i>Wellness</i> <small> Be grateful and create happiness with trust and respect </small> <br>-<i> Total Quality</i> <small> Ensure Quality, Safety & Efficiency, Service with a Smile</small> <br>-<i> Responsible</i><small> Committed to deliver with Integrity and Diligence</small>

			div(class="grid-x show-for-small-only")
				div(class="cell small-12")
					img(src="img/about.jpg", alt="about-pic-1")

			div(class="grid-x margin-top-10 small-margin-top-10")
				div(class="cell medium-5 medium-offset-1 small-12")
					div(class="about-content-white")
						.grid-x
							div(class="cell medium-3") 
								h1(class="white") |01
							div(class="cell medium-8 height-130 small-margin-bottom-10") 
								h5 Mastery Of The Home And Platform lift
								small Thanks to a long experience and a highly specialised knowledge in Home and Platform Lift
						.grid-x
							div(class="cell medium-3") 
								h1(class="white") |02
							div(class="cell medium-8 height-100 small-margin-bottom-10") 
								h5 Flexibility And Availability
								small Customize lifts with your desire materials to suit your lifestyle

						.grid-x
							div(class="cell medium-3") 
								h1(class="white") |03
							div(class="cell medium-8 height-100 small-margin-bottom-10") 
								h5 Ecology
								small Reducing to a minimum the number of requires maintenance operations
						.grid-x
							div(class="cell medium-3") 
								h1(class="white") |04
							div(class="cell medium-8 small-margin-bottom-10") 
								h5 Customized Technical Assistance
								small Customized service and quick- efficient technical follow-up 

				div(class="cell medium-5 hide-for-small-only") 
					div(class="about-content")
						.grid-x
							div(class="cell medium-3") 
								h1 |05
							div(class="cell medium-8 height-130 small-margin-bottom-10") 
								h5 Showroom And Branches In Whole Malaysia
								small In Penang, Selangor, Sabah, Sarawak and Johor
						.grid-x
							div(class="cell medium-3") 
								h1 |06
							div(class="cell medium-8 height-100 small-margin-bottom-10") 
								h5 Soul Of Sweden
								small The product keep perfect control in terms of quality, values and brand.

						.grid-x
							div(class="cell medium-3") 
								h1 |07
							div(class="cell medium-8 height-100 small-margin-bottom-10") 
								h5 Research And Development
								small Advance laboratory or on-field research
						.grid-x
							div(class="cell medium-3") 
								h1 |08
							div(class="cell medium-8 small-margin-bottom-10")
								h5 Aritco Sole Authorized Distributor
								small Have trust on us, we deliver quality and promise satisfaction  

	
				div(class="cell show-for-small-only small-10 small-offset-1") 
					div(class="about-content")
						.grid-x
							div(class="cell medium-3") 
								h1 |05
							div(class="cell medium-8 height-130 small-margin-bottom-10") 
								h5 Showroom And Branches In Whole Malaysia
								small In Penang, Selangor, Sabah, Sarawak and Johor
						.grid-x
							div(class="cell medium-3") 
								h1 |06
							div(class="cell medium-8 height-100 small-margin-bottom-10") 
								h5 Soul Of Sweden
								small The product keep perfect control in terms of quality, values and brand.

						.grid-x
							div(class="cell medium-3") 
								h1 |07
							div(class="cell medium-8 height-100 small-margin-bottom-10") 
								h5 Research And Development
								small Advance laboratory or on-field research
						.grid-x
							div(class="cell medium-3") 
								h1 |08
							div(class="cell medium-8 small-margin-bottom-10")
								h5 Aritco Sole Authorized Distributor
								small Have trust on us, we deliver quality and promise satisfaction  


			
			div(class="grid-x grid-margin-x grid-padding-x margin-gutters padding-gutters margin-top-10 margin-bottom-10")
				div(class="cell medium-10 medium-offset-1") 
					include timeline.html
			
			div(class="grid-x")
				div(class="cell medium-2 margin-left-40 margin-left-large-40 small-10 small-offset-1 small-about-title")
					div(class="transform-90") Archidex 2019
				div(class="cell medium-6 medium-offset-6 small-10 small-offset-1")
					img(src="img/Wiitrac.jpg", alt="Archidex-2019")
				

			div(class="grid-x")
				div(class="cell small-10 small-offset-1 small-about-title")
					div(class="show-for-small-only") Best Innovative Design Awards

				div(class="cell small-10 small-offset-1 show-for-small-only")
					img(src="img/Best%20Innovative%20Design%20Awards.jpg", alt="Best Innovative Design Awards")

				div(class="cell medium-5 hide-for-small-only")
					img(src="img/Best%20Innovative%20Design%20Awards.jpg", alt="Best Innovative Design Awards")
				div(class="cell medium-4 margin-right-neg-15")
					div(class="transform-90 hide-for-small-only") Best Innovative Design Awards

			div(class="grid-x margin-left-large-25 margin-top-large-neg-20")
				div(class="cell medium-4 margin-left-31 small-10 small-offset-1 small-about-title")
					div(class="transform-90") Award Wining Best Growth 2018
				div(class="cell medium-6 medium-offset-6 small-10 small-offset-1 large-12")
					img(src="img/Award%20Winning%20Best%20Growth.jpg", alt="Award Wining Best Growth 2018")
			.grid-x
				div(class="cell medium-2 margin-top-5 margin-left-5 small-10 small-offset-1 small-about-title small-margin-top-10")
					div(class="transform-90 increase-size") Location
		
			div(class="grid-x")
				div(class="cell medium-5 medium-offset-2 small-margin-bottom-10 margin-left-large-21")
					<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3972.6587978228704!2d100.4288406140911!3d5.315809937498521!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x304ac7e31bda229d%3A0x2f3f27f59168f843!2sWiitrac%20Elevator!5e0!3m2!1sen!2smy!4v1572619078146!5m2!1sen!2smy" width="420" height="300" frameborder="0 allowfullscreen="></iframe>

				div(class="cell medium-5 margin-right-neg-5 small-margin-bottom-10 ")
					<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3984.012533040774!2d101.55962291408946!3d3.091322454369115!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x31cc4db71c3ef575%3A0x7bba6fa64ea0ba2a!2s8%2C%20Jalan%20Jurunilai%20U1%2F20%2C%20Hicom-glenmarie%20Industrial%20Park%2C%2040150%20Shah%20Alam%2C%20Selangor!5e0!3m2!1sen!2smy!4v1572619624156!5m2!1sen!2smy" width="420" height="300" frameborder="0" allowfullscreen=""></iframe>

			div(class="grid-x margin-top-5")
				div(class="cell medium-5 medium-offset-2 small-margin-bottom-10 margin-left-large-21")
					<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1984.3002021991572!2d116.08747920785204!3d5.911600616876461!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x323b672ac473060f%3A0xf69c5910d2e39eaa!2sWiitrac%20Elevator%20Sdn%20Bhd!5e0!3m2!1sen!2smy!4v1572619698008!5m2!1sen!2smy" width="420" height="300" frameborder="0"  allowfullscreen=""></iframe>

				div(class="cell medium-5 margin-right-neg-5 small-margin-bottom-10")
					<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d248.03747184527393!2d116.08834014837632!3d5.911719811204241!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x323b67d53457c04f%3A0x765d9fb2a4f457fb!2si%20Plaza%20commercial!5e0!3m2!1sen!2sus!4v1572620639592!5m2!1sen!2sus" width="420" height="300" frameborder="0" allowfullscreen=""></iframe>
			
			div(class="grid-x grid-margin-x margin-gutters padding-gutters margin-top-20" )
				a(href="FAQ.html" class="cell medium-4 medium-offset-2 large-offset-3 grad-overlay bottom-nav small-6 small-about-nav large-3" id="grad-overlay-animation") 
					p(class="padding-top-10 padding-left-10 white") <strong>FAQ</strong> <br><br>Tips and recommendation. <br>Learn more about lifts.
				a(class="cell medium-4 pic-overlay bottom-nav openContactNav small-6 small-about-nav large-3" data-navid="contactNav" id="grad-overlay-animation") 
					p(class="padding-top-10 padding-left-10 black") <strong>Contact</strong> <br><br> Contact us to <br>understand you more.


			include footer.jade



		script(src="js/jquery-3.4.1.js")
		script(src="js/vendor/foundation.js")
		script(src="js/app.js")
		script(src="js/site.js")
