html
	head
		title Wiitrac | Downloads
		include link.jade
	body
		include sidebar.jade

		div(class="grid-container full")
			div(class="grid-x grid-padding-x hide-for-small-only")
				div(class="medium-2 medium-offset-1 cell")
					.logo
						a(href="index.html")
							img(src="img/wiitrac-logo.png", alt="logo")
				
			div(class="grid-x")
				div(class="medium-10 medium-offset-1 cell small-margin-neg-top-5")
						img(src="img/6000_image.jpg", alt="img-1")

			div(class="grid-x show-for-small-only")
				div(class="small-2 small-offset-1 cell")
					.logo
						a(href="index.html")
							img(src="img/wiitrac-logo.png", alt="logo")

				div(class="cell small-8 small-offset-1 grad-overlay-mobile")  Technical Downloads
			
			div(class="grid-x hide-for-small-only")
				div(class="cell medium-7 small-7 ")
					div(id="grad-overlay" class="grad-overlay-intro")
						div(class="grid-x")
							div(class="loading medium-3 cell")
							p(class="scroll-tag medium-2 cell" ) Scroll
						.grid-x
							div(class="page-title cell medium-10 medium-offset-2")  Technical Downloads


			div(class="grid-x grid-margin-x margin-gutters padding-gutters margin-top-10 small-margin-top-10")
				div(class="cell medium-1 medium-offset-1 medium-push-1 small-10 small-offset-1")
					strong(class="font-size-200") Catologue
				div(class="cell medium-4 medium-offset-1 small-10 small-offset-1") 
					p(class="download-link") 
						a(href="docs/Catalogue/Aritco_Catalogue.pdf" download="Aritco_Catalogue") Product Catalogue (.pdf)<br>
						a(href="docs/Catalogue/Aritco7000_9000_%20Catalogue.pdf" download="Aritco7000_9000_ Catalogue") Aritco 7000 and 9000 Platform Lift Brochure (.pdf)<br>
				div(class="cell medium-4 hide-for-small-only")
					p(class="download-link")
						a(href="docs/Catalogue/Aritco4000_6000_%20Catalogue.pdf" download="Aritco4000_6000_ Catalogue") Aritco 4000 and 6000 Home Lift Brochure (.pdf)<br>
						a(href="docs/Catalogue/AritcoHomeLift_Catalogue.pdf" download="AritcoHomeLift_Catalogue") Aritco HomeLift Brochure (.pdf)<br>

				div(class="cell show-for-small-only small-10 small-offset-1 small-margin-neg-top-4")
					p(class="download-link")
						a(href="docs/Catalogue/Aritco4000_6000_%20Catalogue.pdf" download="Aritco4000_6000_ Catalogue") Aritco 4000 and 6000 Home Lift Brochure (.pdf)<br>
						a(href="docs/Catalogue/AritcoHomeLift_Catalogue.pdf" download="AritcoHomeLift_Catalogue") Aritco HomeLift Brochure (.pdf)<br>


			div(class="grid-x grid-margin-x margin-gutters padding-gutters margin-top-5")
				div(class="cell medium-1 medium-offset-1 medium-push-1 small-10 small-offset-1")
					strong(class="font-size-200") Datasheets
				div(class="cell medium-4 medium-offset-1 small-10 small-offset-1") 
					p(class="download-link") 
						a(href="docs/Datasheet/Artico7000_Datasheet.pdf" download="Artico7000_Datasheet") Artico 7000 Datasheet(.pdf)
						a(href="docs/Datasheet/Artico7000Flexi_Datasheet.pdf" download="Artico7000Flexi_Datasheet") Aritco 7000 Flexi Datasheet (.pdf)<br>
						a(href="docs/Datasheet/Artico7000Outdoor_Datasheet.pdf" download="Artico7000Outdoor_Datasheet") Aritco 7000 Outdoor Datasheet (.pdf)<br>
						a(href="docs/Datasheet/Artico9000_Datasheet.pdf" download="Artico9000_Datasheet") Aritco 9000  Datasheet (.pdf))<br>
				div(class="cell medium-4 hide-for-small-only")
					p(class="download-link")
						a(href="docs/Datasheet/Artico4000_Datasheet.pdf" download="Artico4000_Datasheet") Aritco 4000  Datasheet (.pdf)<br>
						a(href="docs/Datasheet/Artico6000_Datasheet.pdf" download="Artico6000_Datasheet") Aritco 6000  Datasheet (.pdf)
						a(href="docs/Datasheet/ArticoHomeLift_Datasheet.pdf" download="ArticoHomeLift_Datasheet") Aritco HomeLift  Datasheet (.pdf)

				div(class="cell show-for-small-only small-10 small-offset-1 small-margin-neg-top-4 ")
					p(class="download-link")
						a(href="docs/Datasheet/Artico4000_Datasheet.pdf" download="Artico4000_Datasheet") Aritco 4000  Datasheet (.pdf)<br>
						a(href="docs/Datasheet/Artico6000_Datasheet.pdf" download="Artico6000_Datasheet") Aritco 6000  Datasheet (.pdf)
						a(href="docs/Datasheet/ArticoHomeLift_Datasheet.pdf" download="ArticoHomeLift_Datasheet") Aritco HomeLift  Datasheet (.pdf)

					

			div(class="grid-x grid-margin-x margin-gutters padding-gutters margin-top-5")
				div(class="cell medium-1 medium-offset-1 medium-push-1 small-10 small-offset-1")
					strong(class="font-size-200") Drawings
				div(class="cell medium-4 medium-offset-1 small-10 small-offset-1") 
					p(class="download-link") 
						a(href="docs/Drawing/Artico7000_Dwg.pdf" download="Artico7000_Dwg") Artico 7000 dwg(.pdf)<br>
						a(href="docs/Drawing/Artico7000Flexi_Dwg.pdf" download="Artico7000Flexi_Dwg") Aritco 7000 Flexi Dwg (.pdf)<br>
						a(href="docs/Drawing/Artico7000Outdoor_Dwg.zip" download="Artico7000Outdoor_Dwg") Aritco 7000 Outdoor Dwg (.zip)
						a(href="docs/Drawing/Artico9000_Dwg.zip" download="Artico9000_Dwg") Aritco 9000 Dwg (.zip)	


			include footer.jade


		script(src="js/jquery-3.4.1.js")
		script(src="js/vendor/foundation.js")
		script(src="js/app.js")
		script(src="js/site.js")
