html
	head
		title Wiitrac | FAQ
		include link.jade
	
	body
		include sidebar.jade
		div(class="grid-container full")
			div(class="grid-x grid-padding-x hide-for-small-only")
				div(class="medium-2 medium-offset-1 cell small-3")
					.logo
						a(href="index.html")
							img(src="img/wiitrac-logo.png", alt="logo")
				
			div(class="grid-x")
				div(class="medium-10 medium-offset-1 cell small-12 small-margin-neg-top-5")
						img(src="img/faq.jpg", alt="img-1")
			
			div(class="grid-x ")
				div(class="small-2 small-offset-1 cell show-for-small-only")
					.logo
						a(href="index.html")
							img(src="img/wiitrac-logo.png", alt="logo")

				div(class="cell show-for-small-only small-8 small-offset-1 grad-overlay-mobile")  Frequent Asked Questions

				div(class="cell medium-10 hide-for-small-only")
					div(id="grad-overlay" class="grad-overlay-intro")
						div(class="grid-x")
							div(class="loading medium-3 cell")
							p(class="scroll-tag medium-2 cell " ) Scroll
						.grid-x
							div(class="page-title cell medium-10 medium-offset-2")  Frequent Asked Questions


			div(class="grid-x grid-margin-x margin-gutters padding-gutters margin-top-10 small-margin-top-10")
				div(class="cell medium-3 medium-offset-1 small-10 small-offset-1")
					strong(class="font-size-200") Preparation
				div(class="cell medium-7")
					button.accordion What to know before preparing buying a Home/Platform lift?
					p.panel  Just answer the following questions, and you are well on the way to getting your perfect lift.
						<br>1. How many floors do you want the lift to serve?
						<br>2. How many people do you want the lift to carry?
						<br>3. Will the lift need to accommodate a wheelchair?
						<br>4. Where would you like to place the lift?
						<br>5. What is the available space for the lift (width x depth)?
						<br>6. What is the ceiling height on the top floor?
						<br>7. What style and colour would you like for your lift?
						<br>8. What kind of budget do you have?
					
					button(class="accordion divide-none") Am I charged to get an estimate or price quote?
					p.panel  No, we will dispatch a representative for you at no charge and no obligation to buy.
		
			div.divide

			div(class="grid-x grid-margin-x margin-gutters padding-gutters")
				div(class="cell medium-3 medium-offset-1 small-10 small-offset-1")
					strong(class="font-size-200") Price
				div(class="cell medium-7")
					button(class="accordion divide-none") What is the price of a Platform/Home Lift?
					p.panel Every lift is customized to fit your needs. These options you choose will affect the end price, contact us to have a price quote.

			div.divide

			div(class="grid-x grid-margin-x margin-gutters padding-gutters")
				div(class="cell medium-3 medium-offset-1 small-10 small-offset-1")
					strong(class="font-size-200") About the Aritco Lift
				div(class="cell medium-7")
					button.accordion What is the difference between conventional lift and Aritco Platform/Homelift?
					p.panel A platform lift does not require a pit or a machine room, which means only minimal reconstruction at the installation site.
					
					button.accordion Is it possible to customize the Platform/Homelift?
					p.panel Yes, you can choose among a wide variety of colors, and different materials and doors.
					
					button.accordion Does the lifts comply with the new machine directive?
					p.panel Yes, all the lifts are certified according to 2006/42/EC.
					
					button.accordion What are the minimum and maximum platform sizes?
					p.panel The maximum platform size is 1000x1980 and the minimum size of the platform is 850 mm x 805 mm.
					
					button.accordion Why is "hold to run" required in platform lifts (without cabin) in Europe?
					p.panel Hold to run is standard on all platform lifts due to the machine directive and the European standard EN81-41. Our platform lifts with cabin (Aritco 9000) does not require hold to run since it has a cabin.
					
					button.accordion Can the lift be installed in an outdoor environment?
					p.panel Yes, We have a special series for exterior lifts.
					
					button.accordion How much noise do the lifts make?
					p.panel Our lifts are battery-powered. Thus it's quiet, and you can enjoy a steady and smooth ride.
					
					button.accordion How fast is the lift?
					p.panel Our lift rated speed is around 0.15 m/s
					
					button.accordion Do the lifts run off house power or battery power?
					p.panel Our lifts are powered by batteries but need a power outlet near the lifts to provide electricity to keep the onboard batteries charged.
					
					button(class="accordion divide-none") What happens if there is a blackout, brownout, or other power interruption?
					p.panel Our lifts have built-in battery power and will keep working well for a few trips.

			div.divide

			div(class="grid-x grid-margin-x margin-gutters padding-gutters")
				div(class="cell medium-3 medium-offset-1 small-10 small-offset-1")
					strong(class="font-size-200") Delivery Time and Installation
				div(class="cell medium-7")
					button.accordion How long does it take to install the lift?
					p.panel We will make our best by completing the whole process less than a week.
					
					button.accordion How long is the time delivery?
					p.panel The time of the delivery will be 3-5 weeks, and a customized lift might be taken up to 7 weeks.
					
					button(class="accordion divide-none") Who can perform the installation of lift?
					p.panel An authorized partner that has been trained in installation and service by Aritco will perform the installation.

			div.divide

			div(class="grid-x grid-margin-x margin-gutters padding-gutters")
				div(class="cell medium-3 medium-offset-1 small-10 small-offset-1")
					strong(class="font-size-200") After sales
				div(class="cell medium-7")
					button(class="accordion divide-none") If I don't have a contract for services, will you assist me if my lift needs servicing or repair?
					p.panel Yes, even with no service contract, we will still assist you with breakdowns, service and repairs. Our professional technician will determine the repair and service fees, and those will be payable to the technician on site.

			div.divide
			
 			


			


			include footer.jade

		script(src="js/jquery-3.4.1.js")
		script(src="js/vendor/foundation.js")
		script(src="js/app.js")
		script(src="js/site.js")
