div(class="grid-x grid-margin-x margin-gutters padding-gutters margin-top-20 margin-bottom-1")
	div(class="cell medium-8 medium-offset-1 small-offset-1 contact") Wiitrac Elevator 
		small M.Y 
		<br>
		a(href="tel:04-5057537") Telephone 04-5057537 | 
		a(href="tel:1300-88-6537") Careline 1300-88-6537	
	div(class="cell medium-2 medium-offset-1 small-offset-1 contact") <br> © 2019 Wiitrac.