html
	head
		title Wiitrac
		include link.jade
		
	body
		include sidebar.jade

		div(class="grid-container full")
	
			div(class="grid-x grid-padding-x margin-gutters padding-gutters")
				div(class="medium-2 medium-offset-1 small-3 cell")
					.logo
						img(src="img/wiitrac-logo.png", alt="logo" href="index.html")
				div(class="medium-10 medium-offset-1 small-9 cell small-margin-top-3")
						h3 Elevates Modern Homes<br>With Uniqueness

			div(class="grid-x small-margin-top-3")
				div(class="medium-10 medium-offset-1 cell ")
					video(autoplay controls muted loop width="100%")
						source(src="video/home.mp4")


			div(class="grid-x ")
				div(class="cell medium-9 small-12 small-margin-top-10 small-margin-bottom-10")
					div(id="grad-overlay" class="grad-overlay-intro" data-aos="fade-right" data-aos-duration="1500")
						div(class="grid-x grid-padding-x")
							div(class="loading medium-3 hide-for-small-only cell")
							p(class="scroll-tag medium-2 hide-for-small-only cell" ) Scroll
							.grid-x
								div(class="intro-para cell medium-10 medium-offset-2 small-10 small-offset-1 small-text-align-center")  We know home is a unique space, just like the people who live in them. <br> <br>Colours, furniture, details must all be customized to suit in with your lifestyle. We have all the designs, sizes and options available for your home lifts to make a perfect home environment. 

			div(class="grid-x grid-margin-x margin-top-10")
				div(class="cell medium-6 medium-offset-6" data-aos="fade-left" data-aos-duration="3500")
					img(src="img/5.jpg",  alt="img-2")

			div(class="grid-x grid-padding-x margin-gutters padding-gutters padding-2  hide-for-small-only" data-aos="fade-right" data-aos-duration="3500")
				div(class="cell medium-1 medium-offset-1")
					img(src="img/nut.png", alt="img-nut")
				div(class="cell medium-5 padding-top-1 font-weight") Our Lift has a well-tested and reliable screw and nut drive system,  adapted to the requirements of a home environment – silent and smooth with a soft start and stop. 
				div(class="cell medium-5 screwsection") Rated speed<br>Rated speed 0.15 m/s<br>Rated speed 0.3 m/s 
					span.help-text <strong>(for installations outside Europe)</strong>

			div(class="grid-x grid-padding-x margin-gutters padding-gutters padding-2 small-margin-top-10 show-for-small-only")
				div(class="cell small-text-align-center")
					img(src="img/nut.png", alt="img-nut")
				div(class="cell small-10 small-offset-1 small-margin-top-10 small-text-align-center") The HomeLift has a well-tested and reliable screw and nut drive system,  adapted to the requirements of a home environment – silent and smooth with a soft start and stop. 
				div(class="cell small-10 small-offset-1 small-margin-top-10 small-margin-bottom-10 small-text-align-center") Rated speed<br>Rated speed 0.15 m/s<br>Rated speed 0.3 m/s 
					span.help-text <strong>(for installations outside Europe)</strong>


			div(class="grid-x grid-margin-x margin-gutters padding-gutters")
				div(class="medium-12 small-12 cell")
					img(src="img/tech-safety.jpg", alt="smartphones-1")
					
			.grid-x
				div(class="cell medium-8 medium-offset-5 small-12 grad-overlay-mobile")
					div(class="standards-overlay" data-aos="fade-left" data-aos-duration="3500")
						h3(class="title") European standards
						p(class="white-text") The platform and homelift complies with Europe’s strictest safety requirements. It complies with the European Machine Directive 2006/42/EC by following the harmonised standard EN81-41. It also has CE marking, which means it’s a safe product in accordance with EC directives.

			div(class="grid-x grid-margin-x margin-gutters padding-gutters padding-bottom-7")
				div(class="cell medium-5 medium-offset-1 border small-12" data-aos="fade-right" data-aos-duration="3200")
					h3(class="mid-heading small-mid-heading") Safety
					p(class="content") Safety has been a key consideration throughout the entire process of developing our home lift.  We have developed the SmartSafety system, which includes smart doors that feel if something is in the way, and if so, automatically open again. It is also possible to lock the lift, preventing children or anyone else from using it.<br><br>We have also incorporated a function that ensures the lift will run on batteries in the event of a power failure, so you are always able to lower the lift to the nearest floor and get out. The lift is equipped with a function, which prevents the batteries from discharging when the power in the house is off. <br><br>All lifts have an alarm button that is connected to an autodialer, which can be used to make emergency calls. You are always able to call one of the pre-programmed numbers from the lift.

				div(class="cell medium-5 margin-top-10 mobile-index-pic small-margin-top-10 home-margin-none margin-top-med-neg-5" data-aos="fade-left" data-aos-duration="3200")
					.grid-x
						div(class="cell medium-2 medium-offset-1 small-12 small-text-align-center")
							img(src="img/2.png", alt="Swedan-flag")
					.grid-x
						div(class="cell medium-11 medium-offset-1 small-10 small-offset-1 small-margin-top-3")
							h6 Swedish by name, Swedish by nature
							p The Scandinavian reputation for craftsmanship is known across the world.  We’re proud to create products with form and function — to engineer lifts that truly enhance the buildings in which they work. you’ll admire when using our lifts signature features or feel its quality in material.

					.grid-x
						div(class="cell medium-2 medium-offset-1 small-12 small-text-align-center")
							img(src="img/3.png", alt="Money-pic")
					.grid-x
						div(class="cell medium-11 medium-offset-1 small-10 small-offset-1 small-margin-top-3 small-margin-bottom-10")
							h6 Less expensive to install, more affordable to maintain. 
							p The cost of installing a platform lift is up to  70% lower than installing a conventional lift. You’ll benefit from the lowest maintenance  and operating costs on the market. 

			div(class="fadeIn grid-x grid-margin-x margin-gutters padding-gutters margin-bottom-10")
				div(class="medium-12 small-12 cell")
					img(id="f6" src="img/Lights/1.jpg", alt="light-1")
					img(id="f5" src="img/Lights/2.jpg", alt="light-2")
					img(id="f4"  src="img/Lights/3.jpg", alt="light-3")

				div(class="cell medium-4 medium-offset-7" data-aos="fade-left" data-aos-duration="3500")
					div(class="border-white margin-top-40 small-margin-top-60")
						h3(class="title mid-heading-black small-mid-heading") Lighting
						p(class="white-text-black-background content") What constitutes great lighting is individual and can depend on the occasion. For a cosy Sunday afternoon you might prefer the lights dimmed low. When it’s playtime with the kids, perhaps bright lighting is more suitable. And for parties, why not try red light?<br> <br> HomeLift comes bundled with an app called SmartLift, which enables you to control the lighting of your  HomeLift. You can also set up your own lighting schedules, such as having the light turn on every morning at 7 am. And if that isn’t enough, the app will also notify you when your lift needs maintenance or repairs.	

			.grid-x
				h3(class="cell small-12 show-for-small-only small-mid-heading") Floor	

			div(class="grid-x grid-margin-x margin-gutters padding-gutters padding-15")
				div(class="cell medium-5 medium-offset-1 small-10 small-offset-1" data-aos="fade-right" data-aos-duration="3500")
					.grid-x
						div(class="cell medium-2 small-2 small-offset-1 medium-offset-1")
							img(src="img/floor/BeigeVinyl.png", alt="")
						div(class="cell medium-2 small-2 small-offset-2 medium-offset-2")
							img(src="img/floor/BlueVinyl.png", alt="")
						div(class="cell medium-2 small-2 small-offset-2 medium-offset-2")
							img(src="img/floor/ClassicBeechVinyl.png", alt="")
					.grid-x
						div(class="cell medium-4 small-4 floor-text") Beige,Vinyl
						div(class="cell medium-4 small-4 floor-text") Blue,Vinyl
						div(class="cell medium-4 small-4 floor-text") Classic Beech,Vinyl

					div(class="grid-x margin-top-10 ")
						div(class="cell medium-2 small-2 small-offset-1 medium-offset-1")
							img(src="img/floor/EuropeanOakVinyl.png", alt="")
						div(class="cell medium-2 small-2 small-offset-2 medium-offset-2")
							img(src="img/floor/SandVinyl.png", alt="")
						div(class="cell medium-2 small-2 small-offset-2 medium-offset-2")
							img(src="img/floor/CheckerStudBlueRubber.png", alt="")

					.grid-x
						div(class="cell medium-4 small-4 floor-text") European oak, Vinyl
						div(class="cell medium-4 small-4 floor-text") Sand, Vinyl
						div(class="cell medium-4 small-4 floor-text") Checker Stud Blue

					div(class="grid-x margin-top-10")
						div(class="cell medium-2 small-2 small-offset-1 medium-offset-1")
							img(src="img/floor/Aluminium.png", alt="Aluminium")
						div(class="cell medium-2 small-2 small-offset-2 medium-offset-2")
							img(src="img/floor/GreyVinyl.png", alt="GreyVinyl")
						div(class="cell medium-2 small-2 small-offset-2 medium-offset-2")
							img(src="img/floor/CheckerStudBlackRubber.png", alt="CheckerStudBlackRubber")

					.grid-x
						div(class="cell medium-4 small-4 floor-text") Aluminium
						div(class="cell medium-4 small-4 floor-text") Grey, Vinyl
						div(class="cell medium-4 small-4 floor-text") Checker Stud Black


				
				div(class="grid-x" data-aos="fade-left" data-aos-duration="3500")
					p(class="cell show-for-small-only small-10 small-offset-1 small-margin-top-10") Our lifts are always delivered with a great-looking floor, with Bolon Sisal Plain Sand as the standard option. This is a stylish, high-quality floor from popular Swedish company Bolon. <br> <br> Its structure and design are a good match with many other floor materials and colours. You can also choose another floor from the selection as an option, or put your own floor in the lift.

				div(class="grid-x" data-aos="fade-left" data-aos-duration="3500")
					div(class="cell floor-fade show-for-small-only small-10 small-offset-1")
						img(src="img/floor/Bolon_Flow_Tide.jpg" id="f3")
						img(src="img/floor/Bolon_Graphic.jpg" id="f5")
						img(src="img/floor/Bolon_Sisal_Plain_Sand.jpg" id="f4")
						img(src="img/floor/Carpet_Camel.jpg" id="f6")
						img(src="img/floor/Carpet_Chanti.jpg" id="f2")
						img(src="img/floor/floors_500x500_Carpet_Elefant.jpg" id="f1")

				div(class="cell medium-5 hide-for-small-only")
					.grid-x
						p(class="cell medium-9 medium-offset-2 floor-paragraph") Our lifts are always delivered with a great-looking floor, with Bolon Sisal Plain Sand as the standard option. This is a stylish, high-quality floor from popular Swedish company Bolon. <br> <br> Its structure and design are a good match with many other floor materials and colours. You can also choose another floor from the selection as an option, or put your own floor in the lift.

					.grid-x
						div(class="cell medium-2 medium-offset-1 floor-fade hide-for-small-only ")
							img(src="img/floor/Bolon_Flow_Tide.jpg" id="f3")
							img(src="img/floor/Bolon_Graphic.jpg" id="f5")
							img(src="img/floor/Bolon_Sisal_Plain_Sand.jpg" id="f4")
							img(src="img/floor/Carpet_Camel.jpg" id="f6")
							img(src="img/floor/Carpet_Chanti.jpg" id="f2")
							img(src="img/floor/floors_500x500_Carpet_Elefant.jpg" id="f1")
						div(class="cell medium-2 title-rotate medium-offset-7 hide-for-small-only") Floor

			div(class="grid-x grid-margin-x margin-gutters padding-gutters show-for-small-only small-margin-top-10")
				h3(class="cell small-10 small-offset-1 title-rotate small-mid-heading") Wall
				p(class="cell small-10 small-offset-1") The lift’s DesignWall features a luxury design unlike any other product on the market. The DesignWall is a painting in itself, and choosing one of our carefully selected art designs allows you to really make a statement and express your taste. <br> <br>The wall is made from acrylic glass and our designs are picked from some prominent Scandinavian designers and artists.
				div(class="small-10 small-offset-1 lift-fade cell")
					img(src="img/Interior/DesignWall_1000x1000_Diagonal.jpg", id="f6" alt="interior-design-1")
					img(src="img/Interior/DesignWall_1000x1000_Keywest.jpg", id="f5" alt="interior-design-2")
					img(src="img/Interior/DesignWall_1000x1000_Orange.jpg", id="f4" alt="interior-design-3")
					img(src="img/Interior/DesignWall_1000x1000_Orientalic.jpg", id="f3" alt="interior-design-4")
					img(src="img/Interior/Designwall_1000x1000_Pink.jpg", id="f2" alt="interior-design-5")
					img(src="img/Interior/DesignWall_1000x1000_Sheets.jpg", id="f1" alt="interior-design-6")


			div(class="grid-x small-margin-top-100")
				h3(class="small-10 small-offset-1 cell small-mid-heading show-for-small-only") Glass

			div(class="grid-x grid-margin-x margin-gutters padding-gutters show-for-small-only")
				div(class="small-3 glass cell")
					img(src="img/Glass/ClearGlas.png", alt="")
					div(class="small-3 cell") Clear Glass
			
				div(class="small-3 cell glass")
					img(src="img/Glass/DarkTintedGlass.png", alt="")
					div(class="small-3 cell") Dark Tinted Glass

				div(class="small-3 cell glass")
					img(src="img/Glass/FrostedGlass.png", alt="")
					div(class="small-3 cell") Frosted Glass

				div(class="small-3 cell glass")
					img(src="img/Glass/TintedGlass.png", alt="")
					div(class="small-3 cell") Tinted Glass

			div(class="grid-x grid-margin-x margin-gutters padding-gutters  hide-for-small-only margin-top-med-10" data-aos="fade-right" data-aos-duration="3500")
				p(class="medium-5 medium-offset-1 cell") The lift’s DesignWall features a luxury design unlike any other product on the market. The DesignWall is a painting in itself, and choosing one of our carefully selected art designs allows you to really make a statement and express your taste. <br> <br>The wall is made from acrylic glass and our designs are picked from some prominent Scandinavian designers and artists.

				div(class="grid-x grid-margin-x margin-gutters padding-gutters" )
					div(class="medium-5 medium-offset-2 lift-fade cell")
						img(src="img/Interior/DesignWall_1000x1000_Diagonal.jpg", id="f6" alt="interior-design-1")
						img(src="img/Interior/DesignWall_1000x1000_Keywest.jpg", id="f5" alt="interior-design-2")
						img(src="img/Interior/DesignWall_1000x1000_Orange.jpg", id="f4" alt="interior-design-3")
						img(src="img/Interior/DesignWall_1000x1000_Orientalic.jpg", id="f3" alt="interior-design-4")
						img(src="img/Interior/Designwall_1000x1000_Pink.jpg", id="f2" alt="interior-design-5")
						img(src="img/Interior/DesignWall_1000x1000_Sheets.jpg", id="f1" alt="interior-design-6")
					
					div(class="cell medium-2 title-rotate medium-offset-9") Wall

				div(class="medium-4 cell margin-top-3" data-aos="fade-left" data-aos-duration="3500")
					div(class="cell medium-1 title-rotate medium-offset-5 ") Glass

					div(class="grid-x grid-margin-x margin-gutters padding-gutters content")
						div(class="medium-3 cell")
							img(src="img/Glass/ClearGlas.png", alt="")
						div(class="medium-9 cell content") Clear Glass
					
					div(class="grid-x grid-margin-x margin-gutters padding-gutters content")
						div(class="medium-3 cell")
							img(src="img/Glass/DarkTintedGlass.png", alt="")
						div(class="medium-9 cell content") Dark Tinted Glass

					div(class="grid-x grid-margin-x margin-gutters padding-gutters content")
						div(class="medium-3 cell")
							img(src="img/Glass/FrostedGlass.png", alt="")
						div(class="medium-9 cell content") Frosted Glass
					
					div(class="grid-x grid-margin-x margin-gutters padding-gutters content")
						div(class="medium-3 cell")
							img(src="img/Glass/TintedGlass.png", alt="")
						div(class="medium-9 cell content") Tinted Glass

			div(class="grid-x grid-margin-x margin-gutters padding-gutters padding-9 margin-top-med-10")
				div(class="cell medium-12 small-12")
					img(src="img/smart_control.jpg")

			div(class="grid-x margin-bottom-10 smartcontrol" data-aos="fade-right" data-aos-duration="3500")
				div(class="cell medium-4 medium-offset-1")
					div(class="border")
						h3(class="mid-heading-grey small-mid-heading") SmartControl
						p(class="content") The SmartControl is the centrepiece of the control panel and is a unique design feature of the Aritco HomeLift. The control panel with SmartControl is always beautifully lit using LED lights, and is intuitive and user-friendly. You operate the lift by turning and pressing the SmartControl.

			div(class="grid-x hide-for-small-only")
				div(class="cell medium-10 medium-offset-1")
					div(class="grid-x lift-img padding-top-25")
						a(class="cell medium-2 product-content" data-productcontent="AritcoHomeLift" ) 
							img(src="img/lift/aritco-home-lift.jpg")
						a(class="cell medium-2 product-content" data-productcontent="Aritco4000" ) 
							img(src="img/lift/4000_3d.png" )
						a(class="cell medium-2 product-content" data-productcontent="Aritco6000") 
							img(src="img/lift/152109493631205600_Aritco-6000-Official-12.png" )
						a(class="cell medium-2 product-content" data-productcontent="Aritco7000" ) 
							img(src="img/lift/Aritco_7000_OUTDOOR_Frilagd-724x1024.png" )
						a(class="cell medium-2 product-content" data-productcontent="Aritco9000") 
							img(src="img/lift/Aritco_9000_Frilagd-1-768x1021.png " )
			
			div(class="grid-x hide-for-small-only")
				div(class="product-grad-overlay" class="cell medium-10 medium-offset-2 margin-top-5" data-aos="fade-left" data-aos-duration="3500")
					.grid-x
						div(class="cell medium-10 product-para" id="AritcoHomeLift")
							h2(class="product-para-title") 
								a(href="product.html#aritcohomelift" class="product") Aritco Home Lift
							p(class="product-para-descp") We know every home is unique, and your home is a special place for you. You have picked every colour, every piece of furniture and every bit of decoration to create a home that is designed for your family, for your life and for your comfort.<br> Aritco HomeLift is designed to be that extra feature of your home. It is decorative and is a spectacular design feature, which makes your home unique. It provides you with that extra feeling of luxury, and it ignites the full potential of your home.
								
						div(class="cell medium-10 product-para" id="Aritco4000")
							h2(class="product-para-title") 
								a(href="product.html#aritco4000" class="product") Aritco 4000
							p(class="product-para-descp") The Aritco 4000 is the smallest, most compact home lift on the market. It is designed to meet every requirement for space and style. The lift has been designed to meet all requirements for comfort, space and design. The lift is available in different sizes, with an option to personalise it with details such as glass walls, a range of varied colours and different materials.<br>Several advantages offered by Aritco 4000:
								ul(class="product-para-descp")
									li Design, sizes and options created for a home environment
									li Minimum interventions in the house
									li 'A' rated energy consumption according to VDI4707
									li 95% recyclable materials
									li Environmental classification by the Swedish Sunda Hus organization
									li Patented screw/nut technology (no oil that can leak)
									li The lowest maintenance and operating costs on the market
								
						div(class="cell medium-10 product-para" id="Aritco6000")
							h2(class="product-para-title") 
								a(href="product.html#aritco6000" class="product") Aritco 6000
							p(class="product-para-descp") You are able to choose from several different sizes, materials and colours. The Aritco 6000 is the go to lift if you want more choices in the lift’s appearance.<br>Several advantages offered by Aritco 6000:
								ul(class="product-para-descp")
									li Design, sizes and options created for a home environment
									li Minimum interventions in the house
									li Option for a "half-height door" on the top floor
									li 'A' rated energy consumption according to VDI4707
									li 95% recyclable materials
									li Environmental classification by the Swedish Sunda Hus organization
									li Patented screw/nut technology (no oil that can leak)
									li The lowest maintenance and operating costs on the market
								

						div(class="cell medium-10 product-para" id="Aritco7000")
							h2(class="product-para-title") 
								a(href="product.html#aritco7000" class="product") Aritco 7000 
							p(class="product-para-descp") The Aritco 7000 platform lift has been designed for the most demanding environments: busy schools, shops and residential buildings. Practical and versatile, it’s been engineered to achieve the highest standards of quality, safety and service life.Aritco 7000 Flexi is a version of the Aritco 7000 lift that is intended for both persons and goods. A risk assessment has been conducted to assess the additional risk that will come when using the platform for both persons as well as for goods. Measures to reduce these risks have been taken and they are now implemented for Aritco 7000 Flexi. Aritco 7000 Flexi has its own certificate.<br>Several advantages offered by Aritco 7000:
								ul(class="product-para-descp")
									li Certificate for persons and goods
									li Optimal design and size
									li ’A’ rated energy consumption according to VDI4707
									li Environmental classification by the Swedish Sunda Hus organization
									li Patented screw/nut technology (no oil that can leak)
									li The lowest maintenance and operating costs on the market
								

						div(class="cell medium-10 product-para" id="Aritco9000")
							h2(class="product-para-title") 
								a(href="product.html#aritco9000" class="product") Aritco 9000
							p(class="product-para-descp") The Aritco 9000 is our cabin lift with automatic run, especially designed for the accessibility market. Aritco 9000 has been developed for the public market and meets the highest requirements for quality, realibility and cost effectiveness.Aritco 9000 is our cabin lift for the accessibility market. The lift is designed to meet all requirement for quality, safety and service. It is a perfect fit for tough and demanding environments such as schools, shops and residential buildings.<br>Several advantages offered by Aritco 9000:
								ul(class="product-para-descp")
									li Design, sizes and options tailored to public environments
									li ’A’ rated energy consumption according to VDI4707
									li 95% recyclable materials
									li Environmental classification by the Swedish Sunda Hus organization
									li Patented screw/nut technology (no oil that can leak)
									li The lowest maintenance and operating costs on the market
									li Cabin control: Automatic ”one-touch”
			

			div(class="grid-x small-margin-top-10 show-for-small-only small-margin-bottom-20" )
				a(href="product.html" class="cell explore small-text-align-center") 
					<strong>Explore Products</strong> 				
			
			div(class="grid-x grid-margin-x margin-gutters padding-gutters margin-top-20" )
				a(href="FAQ.html" class="cell medium-4 medium-offset-2 large-offset-3 grad-overlay bottom-nav small-6 small-about-nav large-3" id="grad-overlay-animation") 
					p(class="padding-top-10 padding-left-10 white") <strong>FAQ</strong> <br><br>Tips and recommendation. <br>Learn more about lifts.
				a(class="cell medium-4 pic-overlay bottom-nav openContactNav small-6 small-about-nav large-3" data-navid="contactNav" id="grad-overlay-animation") 
					p(class="padding-top-10 padding-left-10 black") <strong>Contact</strong> <br><br> Contact us to <br>understand you more.

			
			include footer.jade


		script(src="js/aos.js")    
		script(src="js/jquery-3.4.1.js")
		script(src="js/vendor/foundation.js")
		script(src="js/app.js")
		script(src="js/site.js")
