html
	head
		title Wiitrac | Product
		include link.jade 

	body
		include sidebar.jade

		div(class="grid-container full")
			div(class="grid-x grid-padding-x hide-for-small-only")
				div(class="medium-2 medium-offset-1 cell")
					.logo
						a(href="index.html")
							img(src="img/wiitrac-logo.png", alt="logo")
				
			div(class="grid-x small-margin-neg-top-5")
				div(class="medium-10 medium-offset-1 cell")
						img(src="img/product.jpg", alt="img-1")
			
			div(class="grid-x")
				div(class="cell medium-12 ")
					div(class="grad-overlay-product grad-overlay-product-mobile" id="grad-overlay-animation")
						div(class="grid-x hide-for-small-only")
							div(class="loading medium-4 cell")
							p(class="scroll-tag medium-4 cell" ) Scroll
						.grid-x
							div(class="cell medium-7 medium-offset-1 white-text  margin-top-10 product-margin-none" ) 
								h3 Platform Lift
						div(class="grid-x")
							div(class="cell medium-5 medium-offset-1") 
								a(href="#aritco7000" class="link-title") Aritco 7000 
								div(class="title-descp") Platform accessible on three different side at any floor and no overhead, no pit, no machine room 
							div(class="cell medium-5 medium-offset-1") 
								a(href="#aritco9000" class="link-title") Aritco 9000
								div(class="title-descp") Aritco’s cabin lift with auto-run combines Style and comfort with cheaper maintenance and space saving

						div(class="show-for-small-only") <hr>

						.grid-x
							div(class="cell medium-7 medium-offset-1 white-text margin-top-2") 
								h3 Home Lift
						div(class="grid-x margin-bottom-1" )
							div(class="cell medium-5 medium-offset-1") 
								a(href="#aritco4000" class="link-title") Aritco 4000
								div(class="title-descp") The Aritco 4000 is the smallest, most compact home lift on the market 
							div(class="cell medium-5 medium-offset-1") 
								a(href="#aritco6000" class="link-title") Aritco 6000
								div(class="title-descp") Aritco 6000 is suitable if you want to choose between different appearances and styles. 
							div(class="cell medium-5 medium-offset-1") 
								a(href="#aritcohomelift" class="link-title") Aritco HomeLift
								div(class="title-descp") The Aritco HomeLift provides you with an additional level of comfort and truly ignites the full potential of your home.
			
			div(class="grid-x grid-margin-x margin-gutters padding gutters margin-top-30")
				div(class="cell medium-7 medium-offset-1 small-10 small-offset-1 product-content-title")
					section(id="aritco7000") Aritco 7000
					div(class="show-for-small-only") Best Selling Platform Lift
				div(class="cell medium-3")
					img(src="img/lift/Aritco_7000_FLEXI_Frilagd-724x1024.png", alt="Aritco 7000")
					div(class="best-selling-platform about-rotate hide-for-small-only") Best Selling Platform Lift
				div(class="cell medium-6 medium-offset-2 product-content-para small-10 small-offset-1" ) The Aritco 7000 platform lift has been designed for the most demanding environments: busy schools, shops and residential buildings. Practical and versatile, it’s been engineered to achieve the highest standards of quality, safety and service life.<br><br>When you need to carry people and goods, the Aritco 7000 Flexi is a great solution. We’ve expanded on the standard Aritco 7000 and carried out a comprehensive risk assessment to provide the ultimate in security for everyone – and everything – you transport.

			div(class="grid-x grid-margin-x margin-gutters padding gutters show-for-small-only")
				div(class="cell small-10 small-offset-1 product-content-title")
					section(id="Outdoor") Outdoor
					div(class="show-for-small-only") Designed For Outdoor Use
					img(src="img/lift/Aritco_7000_OUTDOOR_Frilagd-724x1024.png", alt="Aritco 7000" class="medium-offset-4")
				div(class="cell small-10 small-offset-1") The Aritco 7000 Outdoor is designed for outdoor use to make your commercial, domestic or public areas easily accessible for people with reduced mobility, including wheelchair users.

			div(class="grid-x grid-margin-x margin-gutters padding gutters hide-for-small-only")
				div(class="cell medium-3 ")
					div(class="about-rotate outdoor-use") Designed For Outdoor Use
					img(src="img/lift/Aritco_7000_OUTDOOR_Frilagd-724x1024.png", alt="Aritco 7000" class="medium-offset-4")
				div(class="cell medium-5 medium-offset-1") 
					div(class="product-content-title") Outdoor
					div(class="cell medium-5 medium-offset-1 product-content product-content-para") The Aritco 7000 Outdoor is designed for outdoor use to make your commercial, domestic or public areas easily accessible for people with reduced mobility, including wheelchair users.
			
			div(class="grid-x grid-margin-x margin-gutters padding gutters margin-top-10")
				div(class="cell medium-7 medium-offset-1 product-content-title small-10 small-offset-1" ) 
					section(id="aritco9000") Aritco 9000
					div(class="show-for-small-only") With Cabin And Automatic Run
				div(class="cell medium-3")
					img(src="img/lift/Aritco_9000_Frilagd-1-768x1021.png")
					div(class="about-rotate with-cabin-automatic hide-for-small-only") With Cabin And Automatic Run
				div(class="cell medium-6 medium-offset-2 product-content-para small-10 small-offset-1") The Aritco 9000 is our cabin lift with automatic run, especially designed for the accessibility market. Aritco 9000 has been developed for the public market and meets the highest requirements for quality, realibility and cost effectiveness.

			div(class="grid-x grid-margin-x margin-gutters padding gutters margin-top-10 hide-for-small-only")
				div(class="cell medium-10 medium-offset-1")
					table(class="hover")
						thead
							tr
								th 
								th Aritco 7000
								th Aritco 9000
						tbody
							tr
								td Technical compliance
								td European Machine Directive 2006/42/EC <br> European standard EN 81-41
								td European Machine Directive 2006/42/EC
							tr
								td Lift type
								td Platform Lift
								td Cabin
							tr
								td Travel Height
								td <span data-tooltip class="top" tabindex="2" title="Travel height when having a half door is maximum 3000mm(inside EU) ">250 - 13000mm</span>
								td <span data-tooltip class="top" tabindex="2" title="Opposite entry: min 2150mm  Single entry: 2300mm for 2000mm door opening height">2150 - 13000mm</span>
							tr
								td Pit
								td <span data-tooltip class="top" tabindex="2" title="No pit is required when there is a ramp">50mm</span>
								td <span data-tooltip class="top" tabindex="2" title="No pit is required when there is a ramp">75mm</span>
							tr
								td Entry
								td One, two or three sides
								td Single entry: A,B or C- side
							tr
								td Top height
								td <span data-tooltip class="top" tabindex="2" title="1100-1600 mm with half-height door">Minimum 2240mm</span>
								td Minimum 2400mm
							tr
								td Control
								td Hold to run <br><small>The destination button must be kept pressed down during the ride</small>
								td Automatic "one- touch" with cabin doors 
							tr
								td Environment
								td Indoor/outdoor
								td Outdoor
							tr
								td Motor
								td 2,2kW
								td 3kW
							tr
								td Power supply
								td 1-phase 230V 50Hz/9A/16A slow<br>3-phase 230V 50Hz/9A/16A slow<br>3-phase 400V 50Hz/5.2A/16A slow
								td 3-phase 400V 50Hz/5.2A/16A slow
							tr
								td Rated load
								td <span data-tooltip class="top" tabindex="2" title="Depending on platform size">250,410 or 500kg</span>
								td 400kg
							tr
								td Drive system
								td(colspan="2" class="text-align-center") Patented screw/nut system
							tr
								td Rated speed (MAX)
								td(colspan="2" class="text-align-center") 0,15 m/s
							tr
								td Number of stops
								td(colspan="2" class="text-align-center") Max. 6 stops per lift
							tr
								td Number of doors 
								td(colspan="2" class="text-align-center") Max. 6 stops per lift
							tr
								td Landing control (ON DOOR)
								td(colspan="2" class="text-align-center") One - touch call
							tr
								td Emergency lowering
								td(colspan="2" class="text-align-center") Battery operated emergency lowering
							tr
								td Control voltage
								td(colspan="2" class="text-align-center") 24W
							tr
								td Lift color
								td(colspan="2" class="text-align-center") Can be painted in any RAL colour from the RAL Classic chart.
			
			div(class="grid-x grid-margin-x margin-gutters padding-gutters margin-top-5")
				div(class="cell medium-7 medium-offset-8 small-12")
					a(href="docs/Aritco7000_9000.zip" download="Aritco7000_9000.zip") 
						div(id="grad-overlay" class="icon" style="padding: 2%;")
							i(class="fi-page-pdf large")
							p(class="show-for-small-only white small-margin-top-3") Download The Technical Sheet for Platform Lift
 
			
			div(class="grid-x grid-margin-x margin-gutters padding gutters margin-top-10")
				div(class="cell medium-7 medium-offset-1 product-content-title small-10 small-offset-1")
					section(id="aritcohomelift") Aritco HomeLift
					div(class="show-for-small-only") The All-New Aritco HomeLift
				div(class="cell medium-3")
					img(src="img/lift/aritco-home-lift.jpg")
					div(class="about-rotate aritcohomelift hide-for-small-only") The All-New Aritco HomeLift
				div(class="cell medium-6 medium-offset-2 product-content-para small-10 small-offset-1") The Aritco HomeLift is the first lift ever to be uniquely designed for your home. We regard it not only as a lift, but also as a spectacular piece of furniture.<br><br>Adding colour is a great way of personalising your Aritco HomeLift, and perfect for either making the lift blend in or stand out. Why not go for a moss green lift in a white room? If you don’t want the whole lift in a different colour, the option to only paint the doors or the walls in a contrast shade provides an eye-catching solution.


			div(class="grid-x grid-margin-x margin-gutters padding gutters margin-top-10")
				div(class="cell small-10 small-offset-1 show-for-small-only")
					div(class="product-content-title") 
						section(id="aritco4000") Aritco 4000
						div(class="") Our Most Compact Home Lift
					img(src="img/lift/aritco-4000-vertical.png", alt="Aritco 4000" )

			div(class="grid-x grid-margin-x margin-gutters padding gutters margin-top-10")
				div(class="cell medium-3 hide-for-small-only")
					div(class="about-rotate compact-lift") Our Most Compact Home Lift
					img(src="img/lift/aritco-4000-vertical.png", alt="Aritco 4000" class="medium-offset-8" style="width:65%;")
				div(class="cell medium-6 medium-offset-1 small-10 small-offset-1") 
					div(class="product-content-title hide-for-small-only") 
						section(id="aritco4000") Aritco 4000
					div(class="cell medium-5 medium-offset-1 product-content product-content-para ") The major difference between the Aritco 4000 and 6000 is size. Both home lifts complies with the highest safety standards and are customizable to your taste.<br><br>The Aritco 4000 is the smallest, most compact home lift on the market. It is designed to meet every requirement for space and style. The Aritco 4000 is available in several different sizes to fit your specific home

			div(class="grid-x grid-margin-x margin-gutters padding gutters margin-top-5")
				div(class="cell medium-7 medium-offset-1 product-content-title small-10 small-offset-1")
					section(id="aritco6000") Aritco 6000
					iv(class="show-for-small-only") Offering Maximum Choice For Design & Features
				div(class="cell medium-3")
					img(src="img/lift/152109493631205600_Aritco-6000-Official-12.png")
				div(class="about-rotate maximum-choice hide-for-small-only") Offering Maximum Choice For Design & Features
				div(class="cell medium-6 medium-offset-2 product-content product-content-para small-10 small-offset-1") The Aritco 6000 is a versatile home lift with great possibilities to choose different appearances and styles. You are able to choose from several different sizes, materials and colours. The Aritco 6000 is the go to lift if you want more choices in the lift’s appearance.	

			div(class="grid-x grid-margin-x margin-gutters padding gutters margin-top-5 hide-for-small-only")
				div(class="cell medium-10 medium-offset-1")
					table(class="hover")
						thead
							tr
								th 
								th Aritco 4000
								th Aritco 6000
								th Aritco HomeLift
						tbody
							tr
								td Top height
								td Always 2300mm
								td <span data-tooltip class="top" tabindex="2" title="1100-1600 mm with half height door">Minimum 2240mm</span>
								td Minimum 2225 to 3000mm
							tr
								td Power supply
								td 1-phase 230V 50Hz/6.6A/16A slow
								td 1-phase 230V 50Hz/9A/16A slow<br>3-phase 230V 50Hz/9A/16A slow<br>3-phase 400V 50Hz/5.2A/16A slow
								td
							tr
								td Rated load
								td 250 kg
								td <span data-tooltip class="top" tabindex="2" title="Depending on platform size">250 kg or 410kg</span>
								td <span data-tooltip class="top" tabindex="2" title="Depending on platform size">250 kg or 400kg</span>
							tr
								td Motor
								td 1,5kW
								td 2,2kW
								td 
							tr
								td Technical compliance
								td(colspan="3" class="text-align-center") European Machine Directive 2006/42/EC<br>European standard EN 81-41
							tr
								td Travel height
								td(colspan="3" class="text-align-center") <span data-tooltip class="top" tabindex="2" title="Travel height when having a half door is maximum 3000mm(inside EU)">250 - 13000mm</span>
							tr
								td Pit
								td(colspan="3" class="text-align-center") <span data-tooltip class="top" tabindex="2" title="No pit is required when there is a ramp/threshold">50mm</span>
							tr
								td Control 
								td(colspan="3" style="text-align:center;") Hold to run<br><small> the destination button must be kept pressed down during the while ride</small>
							tr
								td Environment
								td(colspan="3" class="text-align-center") Indoor
							tr
								td Drive system
								td(colspan="3" class="text-align-center") Patented screw/nut system
							tr
								td Rated speed (MAX)
								td(colspan="3" class="text-align-center") 0,15 m/s
							tr
								td Number of stops
								td(colspan="3" class="text-align-center") Max. 6 stops per lift
							tr
								td Number of doors 
								td(colspan="3" class="text-align-center") Max. 6 stops per lift
							tr
								td Landing control (ON DOOR)
								td(colspan="3" class="text-align-center") One - touch call
							tr
								td Emergency lowering
								td(colspan="3" class="text-align-center") Battery operated emergency lowering
							tr
								td Control voltage
								td(colspan="3" class="text-align-center") 24W


			div(class="grid-x grid-margin-x margin-gutters padding-gutters margin-top-5")
				div(class="cell medium-7 medium-offset-8 small-12")
					a(href="docs/AritcoHome_4000_6000.zip" download="AritcoHome_4000_6000.zip")  
						div(id="grad-overlay" class="icon" style="padding: 2%;")
							i(class="fi-page-pdf large")
							p(class="show-for-small-only white small-margin-top-3") Download The Technical Sheet for Platform Lift




			div(class="grid-x grid-margin-x margin-gutters padding-gutters margin-top-5")
				div(class="cell medium-12 medium-offset-1 small-12 small-text-align-center small-margin-top-20 more-info") 
					a(class="openContactNav more" data-navid="contactNav") More Info



			include footer.jade

		
		script(src="js/jquery-3.4.1.js")
		script(src="js/vendor/foundation.min.js")
		script(src="js/vendor/jquery.js")
		script(src="js/app.js")
		script(src="js/site.js")