html
	head
		title Wiitrac | References
		include link.jade
		

	body
		include sidebar.jade
		
		div(class="grid-container full")
			div(class="grid-x grid-padding-x")
				div(class="medium-2 medium-offset-1 cell hide-for-small-only")
					.logo
						a(href="index.html")
							img(src="img/wiitrac-logo.png", alt="logo")
				
			div(class="grid-x")
				div(class="medium-10 medium-offset-1 small-12 cell small-margin-neg-top-5")
						img(src="img/reference.jpg", alt="img-1")

			div(class="grid-x ")
				div(class="small-2 small-offset-1 cell show-for-small-only")
					.logo
						a(href="index.html")
							img(src="img/wiitrac-logo.png", alt="logo")
				div(class="cell show-for-small-only small-8 small-offset-1 grad-overlay-mobile")  References

			
			div(class="grid-x")
				div(class="cell medium-10 small-7 hide-for-small-only")
					div(id="grad-overlay" class="grad-overlay-intro")
						div(class="grid-x")
							div(class="loading medium-3 cell")
							p(class="scroll-tag medium-2 cell" ) Scroll
						.grid-x
							div(class="page-title cell medium-10 medium-offset-2")  References

			div(class="grid-x grid-padding-x margin-gutters padding-gutters margin-top-10 small-margin-top-10" )
				div(class="cell medium-11 references-box-grey") 
					.grid-x
						div(class="cell medium-5 medium-offset-1 small-10 small-offset-1") 
							div.references-title Platform Lift 
							div(class="grid-x grid-padding-x margin-gutters padding-gutters") 
								div(class="cell medium-6 small-6 references-box-white")
									strong TYPE
								div(class="cell medium-6 small-6 references-box-white small-margin-padding-top-5") Aritco 7000
							div(class="grid-x grid-padding-x margin-gutters padding-gutters")
								div(class="cell medium-6 small-6 references-box-white")
									strong CUSTOMER
								div(class="cell medium-6 small-6 references-box-white small-margin-padding-top-5") Dato Devantheran 
							div(class="grid-x grid-padding-x margin-gutters padding-gutters")
								div(class="cell medium-6 small-6 references-box-white")
									strong PLACE
								div(class="cell medium-6 small-6 references-box-white small-margin-padding-top-5") Residence Seri Pauh
							div(class="grid-x grid-padding-x margin-gutters padding-gutters")
								div(class="cell medium-6 small-6 references-box-white")
									strong TOWN
								div(class="cell medium-6 small-6 references-box-white small-margin-padding-top-5") Bukit Mertajam, Penang

						div(class="cell medium-3 medium-offset-3 small-margin-top-10")
							img(src="img/lift/Platform lift/Dato Devantheran_Residence Seri Pauh.JPG", alt="Dato Devantheran Customer Image")


			div(class="grid-x grid-padding-x margin-gutters padding-gutters small-margin-top-10")
				div(class="cell medium-11 references-box-white") 
					.grid-x
						div(class="cell medium-5 medium-offset-1 small-10 small-offset-1 ") 
							div.references-title Platform Lift 
							div(class="grid-x grid-padding-x margin-gutters padding-gutters") 
								div(class="cell medium-6 small-6 references-box-grey")
									strong TYPE
								div(class="cell medium-6 small-6 references-box-grey") Aritco 7000
							div(class="grid-x grid-padding-x margin-gutters padding-gutters")
								div(class="cell medium-6 small-6 references-box-grey")
									strong PLACE
								div(class="cell medium-6 small-6 references-box-grey") Istana Anak Bukit
							div(class="grid-x grid-padding-x margin-gutters padding-gutters")
								div(class="cell medium-6 small-6 references-box-grey")
									strong TOWN
								div(class="cell medium-6 small-6 references-box-grey") Alor Setar, Kedah

						div(class="cell medium-5 medium-offset-1 small-margin-top-10")
							img(src="img/lift/Platform%20lift/Istana%20Anak%20Bukit%2C%20Alor%20Setar.JPG", alt="Istana Anak Bukit Customer Image")
			
			div(class="grid-x grid-padding-x margin-gutters padding-gutters small-margin-top-10")
				div(class="cell medium-11 references-box-grey") 
					.grid-x
						div(class="cell medium-5 small-10 small-offset-1 medium-offset-1 ") 
							div.references-title Platform Lift 
							div(class="grid-x grid-padding-x margin-gutters padding-gutters") 
								div(class="cell medium-6 small-6 references-box-white")
									strong TYPE
								div(class="cell medium-6 small-6 references-box-white") Aritco 9000
							div(class="grid-x grid-padding-x margin-gutters padding-gutters")
								div(class="cell medium-6 small-6 references-box-white")
									strong CUSTOMER
								div(class="cell medium-6 small-6 references-box-white") Mr Tan 
							div(class="grid-x grid-padding-x margin-gutters padding-gutters")
								div(class="cell medium-6 small-6 references-box-white")
									strong PLACE
								div(class="cell medium-6 small-6 references-box-white") Tanjong Karang
							div(class="grid-x grid-padding-x margin-gutters padding-gutters")
								div(class="cell medium-6 small-6 references-box-white")
									strong TOWN
								div(class="cell medium-6 small-6 references-box-white") Kuala Selangor, Selangor

						div(class="cell medium-5 medium-offset-1 small-margin-top-10")
							img(src="img/lift/Platform%20lift/Mr%20Tan_Tanjong%20Karang.JPG", alt="Mr Tan Customer Image")


			div(class="grid-x grid-padding-x margin-gutters padding-gutters small-margin-top-10")
				div(class="cell medium-11 references-box-white") 
					.grid-x
						div(class="cell medium-5 small-10 small-offset-1 medium-offset-1 ") 
							div.references-title Platform Lift 
							div(class="grid-x grid-padding-x margin-gutters padding-gutters") 
								div(class="cell medium-6 small-6 references-box-grey")
									strong TYPE
								div(class="cell medium-6 small-6 references-box-grey") Aritco 7000
							div(class="grid-x grid-padding-x margin-gutters padding-gutters")
								div(class="cell medium-6 small-6 references-box-grey")
									strong PLACE
								div(class="cell medium-6 small-6 references-box-grey") Istana Anak Bukit
							div(class="grid-x grid-padding-x margin-gutters padding-gutters")
								div(class="cell medium-6 small-6 references-box-grey")
									strong TOWN
								div(class="cell medium-6 small-6 references-box-grey") Alor Setar, Kedah

						div(class="cell medium-3 medium-offset-3 small-margin-top-10")
							img(src="img/lift/Platform%20lift/Prima-Land_Sandakan%2CSabah.jpg", alt="Istana Anak Bukit Image")
						div(class="grid-x grid-padding-x margin-gutters padding-gutters")
				

				div(class="cell medium-11 references-box-grey small-margin-top-10") 
					.grid-x
						div(class="cell medium-5 small-10 small-offset-1 medium-offset-1 ") 
							div.references-title Home Lift 
							div(class="grid-x grid-padding-x margin-gutters padding-gutters") 
								div(class="cell medium-6 small-6 references-box-white")
									strong TYPE
								div(class="cell medium-6 small-6 references-box-white") Aritco HomeLift
							div(class="grid-x grid-padding-x margin-gutters padding-gutters")
								div(class="cell medium-6 small-6 references-box-white")
									strong CUSTOMER
								div(class="cell medium-6 small-6 references-box-white") Mr Daniel
							div(class="grid-x grid-padding-x margin-gutters padding-gutters")
								div(class="cell medium-6 small-6 references-box-white")
									strong PLACE
								div(class="cell medium-6 small-6 references-box-white") Taman Villa Permai (S9)
							div(class="grid-x grid-padding-x margin-gutters padding-gutters")
								div(class="cell medium-6 small-6 references-box-white")
									strong TOWN
								div(class="cell medium-6 small-6 references-box-white") Butterworth, Penang

						div(class="cell medium-3 medium-offset-3 small-margin-top-10")
							img(src="img/lift/Home%20lift/Mr-Daniel_Tmn-Villa-Permai-%28S9%29.JPG", alt="Mr Daniel Customer Image")


			div(class="grid-x grid-padding-x margin-gutters padding-gutters small-margin-top-10")
				div(class="cell medium-11 references-box-white") 
					.grid-x
						div(class="cell medium-5 small-10 small-offset-1 medium-offset-1 ") 
							div.references-title Home Lift 
							div(class="grid-x grid-padding-x margin-gutters padding-gutters") 
								div(class="cell medium-6 small-6 references-box-grey")
									strong TYPE
								div(class="cell medium-6 small-6 references-box-grey") Aritco HomeLift
							div(class="grid-x grid-padding-x margin-gutters padding-gutters")
								div(class="cell medium-6 small-6 references-box-grey")
									strong CUSTOMER
								div(class="cell medium-6 small-6 references-box-grey") En Bakri
							div(class="grid-x grid-padding-x margin-gutters padding-gutters")
								div(class="cell medium-6 small-6 references-box-grey")
									strong PLACE
								div(class="cell medium-6 small-6 references-box-grey") Cyber Jaya, S15
							div(class="grid-x grid-padding-x margin-gutters padding-gutters")
								div(class="cell medium-6 small-6 references-box-grey")
									strong TOWN
								div(class="cell medium-6 small-6 references-box-grey") Cyberjaya, Selangor

						div(class="cell medium-3 medium-offset-3 small-margin-top-10")
							img(src="img/lift/Home%20lift/En-Bakri_Cycber-Jaya.jpg", alt="En Bakri Customer Image")

				div(class="cell medium-11 references-box-grey small-margin-top-10") 
					.grid-x
						div(class="cell medium-5 small-10 small-offset-1 medium-offset-1 ") 
							div.references-title Home Lift 
							div(class="grid-x grid-padding-x margin-gutters padding-gutters") 
								div(class="cell medium-6 small-6 references-box-white")
									strong TYPE
								div(class="cell medium-6 small-6 references-box-white") Aritco HomeLift
							div(class="grid-x grid-padding-x margin-gutters padding-gutters")
								div(class="cell medium-6 small-6 references-box-white")
									strong CUSTOMER
								div(class="cell medium-6 small-6 references-box-white") Ms Chuah
							div(class="grid-x grid-padding-x margin-gutters padding-gutters")
								div(class="cell medium-6 small-6 references-box-white")
									strong PLACE
								div(class="cell medium-6 small-6 references-box-white") 5, Jalan Delima (S12)
							div(class="grid-x grid-padding-x margin-gutters padding-gutters")
								div(class="cell medium-6 small-6 references-box-white")
									strong TOWN
								div(class="cell medium-6 small-6 references-box-white") Gelugor, Penang

						div(class="cell medium-5 medium-offset-1 small-margin-top-10")
							img(src="img/lift/Home%20lift/Ms%20Chuah_5X%2CJln%20Delima%20%28S12%29.JPG", alt="Ms Chuah Customer Image")
			

			
			div(class="grid-x grid-padding-x")
				div(class="cell medium-10 medium-offset-1 medium-cell-block small-margin-top-10 small-10 small-offset-1 large-cell-block large-10")
					div(class="lightbox") 
						.grid-x
							div(class="gallery")
								a(href="img/lift/Home%20lift/Mr-Yeap-Guan-Seng_Jln-Betik%2CBukit-Mertajam-%28S15%29.jpg" title="Mr.Yeap Guan Seng" data-source="img/lift/Home%20lift/Mr-Yeap-Guan-Seng_Jln-Betik%2CBukit-Mertajam-%28S15%29.jpg")
									img(src="img/lift/Home%20lift/Mr-Yeap-Guan-Seng_Jln-Betik%2CBukit-Mertajam-%28S15%29.jpg", alt="Mr-Yeap-Guan-Seng")
							
								a(href="img/lift/Home%20lift/Mr%20Goh_Cypress%20Villa%2CSungai%20Ara%20%28S9%29.JPG" title="Mr Goh" data-source="img/lift/Home%20lift/Mr%20Goh_Cypress%20Villa%2CSungai%20Ara%20%28S9%29.JPG")
									img(src="img/lift/Home%20lift/Mr%20Goh_Cypress%20Villa%2CSungai%20Ara%20%28S9%29.JPG")
						
								a(href="img/lift/Home%20lift/En-Bakri_Cycber-Jaya.jpg" title="En Bakri Cyber Jaya" data-source="img/lift/Home%20lift/En-Bakri_Cycber-Jaya.jpg")
									img(src="img/lift/Home%20lift/En-Bakri_Cycber-Jaya.jpg", alt="")
						
								a(href="img/lift/Home%20lift/Mr-Daniel_Tmn-Villa-Permai-%28S9%29.JPG" title="Mr Daniel Tmn Villa Permai" data-source="img/lift/Home%20lift/Mr-Daniel_Tmn-Villa-Permai-%28S9%29.JPG")
									img(src="img/lift/Home%20lift/Mr-Daniel_Tmn-Villa-Permai-%28S9%29.JPG")
						
								a(href="img/lift/Home%20lift/Ms%20Chuah_5X%2CJln%20Delima%20%28S12%29.JPG" title="Ms Chuah" data-source="img/lift/Home%20lift/Ms%20Chuah_5X%2CJln%20Delima%20%28S12%29.JPG")
									img(src="img/lift/Home%20lift/Ms%20Chuah_5X%2CJln%20Delima%20%28S12%29.JPG")
						
								a(href="img/lift/Platform%20lift/Dato%20Devantheran_Residence%20Seri%20Pauh.JPG" title="Devantheran Residence Seri Pauh" data-source="img/lift/Platform%20lift/Dato%20Devantheran_Residence%20Seri%20Pauh.JPG")
									img(src="img/lift/Platform%20lift/Dato%20Devantheran_Residence%20Seri%20Pauh.JPG")

								a(href="img/lift/Platform%20lift/Istana%20Anak%20Bukit%2C%20Alor%20Setar.JPG" title="Istana Anak Bukit Alor Setar" data-source="img/lift/Platform%20lift/Istana%20Anak%20Bukit%2C%20Alor%20Setar.JPG")
									img(src="img/lift/Platform%20lift/Istana%20Anak%20Bukit%2C%20Alor%20Setar.JPG", alt="")

								a(href="img/lift/Platform%20lift/Istana-Anak-Bukit%2C-Alor-Setar2.jpg" title="Istana Anak Bukit Alor Setar" data-source="img/lift/Platform%20lift/Istana-Anak-Bukit%2C-Alor-Setar2.jpg")
									img(src="img/lift/Platform%20lift/Istana-Anak-Bukit%2C-Alor-Setar2.jpg", alt="")

								a(href="img/lift/Platform%20lift/Mr%20Tan_Tanjong%20Karang.JPG" title="Mr Tan Tanjong Karang" data-source="img/lift/Platform%20lift/Mr%20Tan_Tanjong%20Karang.JPG")
									img(src="img/lift/Platform%20lift/Mr%20Tan_Tanjong%20Karang.JPG", alt="")

								a(href="img/lift/Platform%20lift/Prima-Land_Sandakan%2CSabah.jpg" title="Prima Land Sandakan" data-source="img/lift/Platform%20lift/Prima-Land_Sandakan%2CSabah.jpg")
									img(src="img/lift/Platform%20lift/Prima-Land_Sandakan%2CSabah.jpg", alt="")



			include footer.jade

		script(src="js/jquery-3.4.1.js")
		script(src="js/jquery.magnific-popup.min.js")
		script(src="js/vendor/foundation.js")
		script(src="js/app.js")
		script(src="js/site.js")
