div(id="menuNav" class="overlay nav-item")
	a(href="javascript:void(0)" class="closebtn") 
		i(class="fi-x")
		div(class="overlay-content" style="top: 12%;")
			a(href="index.html") Home
			a(href="about.html") About
			a(href="product.html") Product
			a(class="openContactNav" data-navid="contactNav") Contact Us
			a(href="downloads.html") Download
			a(href="references.html") References
			a(href="FAQ.html") Frequent Asked Questions
	div(class="social-media-icons overlay-content margin-top-2")
		li
			a(href="https://www.facebook.com/wiitrac/" target="_blank")
				i(class="fi-social-facebook")
		li
			a(href="https://www.youtube.com/channel/UCj4q6vzX-7tu5PA1CTQ_vEA" target="_blank")
				i(class="fi-social-youtube")
		li
			a(href="tel:1300-88-6537" target="_blank")
				i(class="fi-telephone")
		

div(id="productNav" class="overlay nav-item")
	a(class="closebtn" ) 
		i(class="fi-x")
	div.overlay-content 
		div(class="overlay-product-content") 
			a(href="product.html" class="product-nav-title margin-bottom-10") Platform Lift <br>
				a(href="product.html#aritco7000" class="product") Aritco 7000 
					p(class="overlay-para") Aritco 7000 takes accessibility to a whole new level. Platform accessible on three different side at any floor and no overhead, no pit, no machine room
				a(href="product.html#aritco9000" class="product") Aritco 9000 
					p(class="overlay-para") Aritco’s cabin lift with auto-run combines Style and comfort with cheaper maintenance and space saving

		div(class="overlay-product-content") 
			a(href="product.html" class="product-nav-title margin-bottom-10") Home Lift <br>
				a(href="product.html#aritcohomelift" class="product") Aritco Homelift
						p(class="overlay-para") The Aritco HomeLift provides you with an additional level of comfort and truly ignites the full potential of your home.
				a(href="product.html#aritco4000" class="product") Aritco 4000
						p(class="overlay-para") The Aritco 4000 is the smallest, most compact home lift on the market
				a(href="product.html#aritco6000" class="product") Aritco 6000
						p(class="overlay-para") Aritco 6000 is suitable if you want to choose between different appearances and styles. 

div(id="contactNav" class="overlay nav-item")
	a(class="closebtn" ) 
		i(class="fi-x")
	div.overlay-content 
		div(class="overlay-product-content overlay-contact margin-bottom-5 small-margin-bottom-5") Contact
			div(class="contact-container margin-top-2")
				form(class="contact-form" method="POST" action="insert.php")
					select(id="enquiry" name="enquiry" class="margin-bottom-5 small-margin-bottom-5" required)
						option(value="order-enquiry") Order Enquiry
						option(value="quotation") Quotation
						option(value="product") Product information
						option(value="spare-parts") Spare parts
						option(value="technical") Technical Support
						option(value="career") Career
						option(value="others") Others
						option(value="hi") Just Say Hi :)

					input(type="text" id="name" name="name" placeholder="Your Name" required)
					input(type="email" id="email" name="email" placeholder="Your E-mail" required)
					input(type="tel" id="tel" name="tel" placeholder="Your Phone" required)
					textarea(id="message" name="message" placeholder="Your Message" required)
					input(type="submit" name="Submit" value="Submit")

		div(class="overlay-product-content") 
			div(class="phone") Wiitrac Elevator M.Y<br> <br>
				a(href="tel:04-5057537") | Telephone 04-5057537 
				a(href="tel:04-5027537") | Fax 04-5027537  
				a(href="tel:1300-88-6537") | Careline 1300-88-6537<br><br>
					
			div(class="address") <strong>Penang</strong><br> No. 1, Lorong Perusahaan Ringan Juru 1,<br>Kawasan Perusahaan Ringan Juru,<br>14100 Simpang Ampat, Penang.<br><br><strong>Selangor</strong><br> 8, Jalan Jurunilai U1/20, Hicom-Glenmarie<br> Industrial Park, 40150 Shah Alam,<br>Selangor<br><br><strong>Sabah</strong><br>Unit 17-0, I-Plaza Commercial Central,<br>Jalan Pintas, Penampang Bypass,<br>89500 Penampang, Kota Kinabalu.<br><br><strong>Sarawak</strong><br>Sublot 6, Soho 188(East), Jalan Wan Alwi,<br>93350 Kuching, Sarawak.
				

nav(class="menu-list")
	li(class="nav-button" data-navid="contactNav") Contact
	li(class="nav-button" data-navid="productNav") Product 
	li(class="nav-button" data-navid="menuNav") Menu 
	
		

div(class="back-to-top hide-for-small-only")
	a(id="back-to-top" href="#" title="Back to top") Wiitrac &nbsp
		i(class="fi-arrow-right")